@charset "UTF-8";

body {
    background-color: rgb(158, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color:  rgb(54, 101, 101);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(23, 57, 57);
}

.basico {
    color: rgb(0, 98, 0);
    font-weight: bold;
}

.intermediario {
    color: rgb(215, 215, 0);
}

.avancado {
    color: rgb(215, 0, 0);
}

.destaque {
    background-color: yellowgreen;
}