@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2AB27, #D9831A);
}

main { 
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #543b0e99;
    width: 600px;
    padding: 25px;
    margin: auto;
}

h1 {
    color: #D9831A;
    text-align: center;
    text-shadow: 1px 1px 2px #75450b;

}

h2 {
    color: #157EBF;

}

p {
    text-align: justify;
}